@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
	font-family: 'Work Sans', sans-serif;
}

.app {
	min-height: 100vh;
	display: flex;
	box-sizing: border-box;
}

::webkit-scrollbar {
	width: 0px;
	opacity: 0.3 !important;
}
::weblit-scrollbar-thumb {
	background: rgba(136, 135, 136, 0.281);
	opacity: 0.3 !important;
}
::webkit-scrollbar-thumb:hover {
	background: #a79b9b;
}
.chatpage {
	background-image: url('../assets/wallpaper.png');
	background-position: center;
	background-size: cover;
	height: 100%;
}
.typing {
	background: #e6e7ed;
	will-change: transform;
	width: auto;
	border-radius: 99px;
	padding: 12px;
	display: table;
	float: left;
	margin: -3.5rem 0 0 0.6rem;
	position: relative;
	animation: 3s bulge infinite ease-out;
}

.typing::after {
	height: 10px;
	width: 10px;
	left: -9px;
	bottom: -7px;
}
.typing::before,
.typing::after {
	content: '';
	position: absolute;
	height: 10px;
	width: 10px;
	left: -2px;
	bottom: -2px;
	border-radius: 50%;
	background: #e6e7ed;
}
.typing span {
	height: 7px;
	width: 7px;
	float: left;
	margin: 0 1px;
	background: #9e9ea1;
	display: block;
	border-radius: 50%;
	opacity: 0.4;
}
.typing span:nth-child(1) {
	animation: 1s blink infinite 0.3333s;
}
.typing span:nth-child(2) {
	animation: 1s blink infinite 0.6666s;
}
.typing span:nth-child(3) {
	animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
	50% {
		opacity: 1;
	}
}
@keyframes bulge {
	50% {
		transform: scale(0.9);
	}
}
